
@charset "UTF-8";
@import url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
@font-face {
    font-family: "San Francisco";
    src: url('SF-Pro-Display-Regular.otf') format('opentype');

    
}

body {
    background: rgb(243, 243, 246);
    font:  17px "San Francisco";
    

 
}
header {
    color:black;
    text-align:center;
    


}
header h1 {
    
    font-size: 55px;
    padding-top: 30px;
    font-weight: bold;
}
header h2 {
 
    font: 25px "San Francisco";
    padding-bottom: 40px;
    font-weight: lighter;

  
}

div{
    
    font: 20px "San Francisco";
    text-align: center;
    padding: 15px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 30px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.365)

}
footer {
    color:rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
}
